/*Background color*/
body {
    background-color: #151c28;
}

/*Centers text*/
.title {
    text-align: center;
    color: #ffe14f;
    font-family: Arial, serif;
    font-size: 25px;
    margin: auto;
}

/*Borders for images and audio*/
.border {
    border: 1px solid #ffe14f;
    border-radius: 15px;
    height: 150px;
    width: 600px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 20px 25px;
}

/*Image size/position*/
.border img {
    margin-left: 15px;
    margin-right: 60px;
    vertical-align: center;
    height: 150px;
    width: 150px;
}

.border:hover {
    background-color: #8daec6;
}


