#imga {
    float: right;
    width: 24em;
    padding: 48px;
    height: auto;
}

#pa {

}

#imgb {
    float: left;
    width: 24em;
    padding: 48px;
    height: auto;
}

#pb {

}

#imgc {
    float: contour;
    width: 24em;
    padding: 48px;
    height: auto;
}

#pc {

}