body {
    font-family: "Roboto", sans-serif ;
}

#imga {
    height: 12em;
    width: auto;
}

.container {
    display: flex;
}

.container-item {
    background: black;
    color: white;
    padding: 20px;
    margin-left: 1em;
    width: 100%;
}

.container3 {
    display: flex;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    margin-top: 1em;
    width: 12em;
    padding: 20px;
    background-color: #000;
    color: white;
}

.container2 ul, li a{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-top: -12em;
    margin-left: -1em;
}

.container2 a:hover {
    font-weight: bold;
    font-style: italic;
}

#active {
    font-style: italic;
    font-weight: bold;
    color: white;
}

.container-item2 {
    background: lightgray;
    color: black;
    border: solid black 2px;
    padding: 20px;
    margin-top: 1em;
    margin-left: 2em;
    width: 100%;
}


.container-item2 h1 {
    margin-left: 0px;
}

.container3{
    display: flex;
}

.container3 p {
    display: block;
}

.yeet {
    margin-left: 19rem;
    margin-top: 1vw;
}

.container4 {
    display: flex;
}

#imgc {
    margin-top: -3em;
}

#imgb, #imgc {
    height: 9em;
    width: auto;
    float: left;
}

.blockh3 {
    display: block;
    margin-top: 2em;
}

.fullcontainer {
    margin: 0 auto;
    width: 917px;
}



