/test.html
/.idea/
School/Weken/Week 6/GIT/GIT.pptx
HomeProjects/Caro/assets/heart.png
HomeProjects/Caro/assets/IMG-20201117-WA0043.jpg
HomeProjects/Caro/assets/IMG-20201202-WA0000.jpg
HomeProjects/Caro/assets/WhatsApp Image 2020-11-29 at 22.08.22.jpeg
HomeProjects/Caro/Caro.css
HomeProjects/Caro/Caro.html
HomeProjects/Caro/sounds/Christmas.mp3
HomeProjects/Caro/sounds/Christmas.ogg
HomeProjects/tryout.html
