body {
    background-color: #d9ddd7;
    font-family: Verdana sans-serif;
}
#Title {
    color: #00ed08;
}
p {
    background-color: #6a7689;
    color: #d9ddd7;
    padding: 20px;
}
.highlight {
    color: yellow;
    border: solid 2px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
.link {
    color: white;
}
a:hover {
    color: lightgreen;
}