h1 {
    color: green;
    font-family: "Poppins Light";
    margin-left: 4em;
}

div {
    border: 2px solid black;
    border-radius: 1em;
    background: green;
    box-shadow: 5px 7px 4px 4px;
    width: 75px;
    height: 75px;
    padding: 50px;
    position: relative;
}

#first {
    margin-left: 9em;
    opacity: 100%;
    z-index: 5;
}

#second {
    margin-left: 11em;
    margin-top: -8em;
    opacity: 85%;
    z-index: 4;
}

#third {
    margin-left: 13em;
    margin-top: -8em;
    opacity: 75%;
    z-index: 3;
}

#fourth {
    margin-left: 15em;
    margin-top: -8em;
    opacity: 50%;
    z-index: 2;
}

#fifth {
    margin-left: 17em;
    margin-top: -9em;
    opacity: 25%;
    z-index: 1;
}