body {
  background-color: #151c28;
}
h1 {
  color: #ffe14f;
  text-align: center;
  font-size: 3em;
}
article {
  border: 2px solid #ffe14f;
  border-radius: 6px;
  padding: 8px;
  width: 20%;
  float: left;
  margin: 10px;
  min-width: 200px;
  text-align: center;
}
article img {
  height: 128px;
}
article:hover {
  background-color: #8daec6;
  cursor: pointer;
}
audio {
  width: 100%;
}
