body {
    background: #fcd3d8;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 30px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff008b;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}


li a:hover {
    background-color: #ba0067;
    color: #ffffff;
}

#imga {
    height: 45px;
    margin: 10px 20px 10px 20px;
}



