* {
    font-family: "Roboto", sans-serif;
}

#title {
    text-align: center;
    margin-top: 2em;
}

.images img {
    width: 40%;
    margin: 4%;
}

#phone {
    height: 45em;
    width: auto;
    z-index: 1;
}

iframe {
    position: absolute;
    margin-left: 8em;
    height: 41em;
    margin-top: 3em;
    width: auto;
    z-index: -1;
}

figure {
    position: absolute;
    pointer-events: none;
}