body {
    background: #d9ddd7;
    font-family: Verdana sans-serif;
}

h1 {
    color: #017701;
}

p {
    background: #6a7689;
    color: white;
    padding: 20px;
}

.highlight {
    color: yellow;
    border: solid yellow 2px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

}

a {
    color: white;
}