div p {
    background-color: yellow;
    font-family: Verdana;
}

div > h1 {
    background-color: green;
    font-family: Arial;
}

#test {
    background-color: blue;
}


div li {
    background-color:purple;
}