iframe {
    position: absolute;
    left: 140px;
    top: 45px;
    width: 350px;
    height: 640px;
}

figure {
    position: absolute;
    pointer-events: none;
}
figure img {
    width: 550px;
    height: 700px;
}

h1 {
    text-align: center;

}

nav img {
    width: 40%;
    margin: 4%;
}