*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #6b9ab3;
    font-family: 'Poppins', sans-serif;
}
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;

}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
.nav-links li {
    list-style: none;
}
.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #b8b8b8;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
}

@media screen and (max-width: 1080px){
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
    }
}