/*Body Styling
-------------------------------------------------------
 */
body {
    background-image: url("assets/space.png");
}


/*Navigation
-------------------------------------------------------
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #242424;
    font-family: 'Poppins', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;

}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
.nav-links li {
    list-style: none;
}
.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #b8b8b8;
    margin: 5px;
}

/*Optimisation Device Resolution
-------------------------------------------------------
 */

@media screen and (max-width: 1024px){
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #242424;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
}

@media screen and (max-width: 1080px){
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #242424;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
    }
}

/*Article
-------------------------------------------------------
 */
.square {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.square img {
    padding: 4%;
    display: block;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
}
.square q {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 93%;
    font-size: 24px;
    font-family: 'Encode Sans', sans-serif;
    color: white;
}


/*image
-------------------------------------------------------
 */
.square2 img {
    padding: 4%;
    margin-top: 10%;
    margin-left: 32%;
    width: 450px;
    height: 400px;
}

/*
-------------------------------------------------------
 */
.square2 q{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 135%;
    width: 95%;
    font-size: 24px;
    font-family: 'Encode Sans', sans-serif;
    color: white;
}
