body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
}
.container img {
    border: solid black 2px;
    margin-left: 1vw;
    margin-bottom: 0vw;
}

.container-item {
    border: solid black 2px;
    color: white;
    margin-left: 1vw;
    flex-grow: 1;
    height: 12vw;
    background-color: black;
}

.container-item h1 {
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 25px;
}

.container-item p {
    margin-left: 3vw;
    margin-top: 1vw;
    font-size: 20px;
}

.container-item2 {
    font-size: 15px;
    color: white;
    background-color: black;
    flex-grow: 1;
    margin-left: 1vw;
    margin-right: 28vw;
    margin-top: 1vw;
    height: 48vw;
    width: 18vw;
}

.container-item2 h1, p{
    margin-left: 2vw;
}

.container-item2 h1 {
    margin-top: 3vw;
}

.container-item3 {
    flex-grow: 11;
    border: solid black 2px;
    margin-top: 1vw;
    margin-left: -27vw;
    background-color: lightgrey;
}

.container-item3 h1 {
    margin-left: 1vw;
    margin-top: 3vw;
}

.container2 {
    display: flex;
}

.container2 h2 {
    margin-left: 2vw;
    margin-top: 0vw;
    font-weight: bold;
}

.container3 {
    display:flex;
    flex-direction: column;

}



