body {
    background: lightblue;
}

button {
    font-size: 20px;
}

.buttons button {
    background: transparent;
    border: 1px solid gray;
    color: white;
    margin-left: 2em;
}

.buttons button:hover {
    background: red;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.border1 {
    border: solid 2px black;
    background: red;
    height: 9em;
    margin-top: 3em;
    width: 47em;
    padding-left: 2em;
    margin-left: 3em;
    font-size: 10px;
}