.color-index h1 {
    color: green;
    position: fixed;
    margin-left: 19vw;
    margin-top: 4vw;
    font-family: 'Poppins', sans-serif;
}

div {

}

#first {
    width: 14vw;
    height: 14vw;
    position: fixed;
    border: 2px solid black;
    margin-left: 19vw;
    margin-top: 8vw;
    z-index: 5;
    background-color: green;
    border-radius: 1vw;
    box-shadow: 4px 6px 27px 12px;
}

#second {
    width: 14vw;
    height: 14vw;
    position: fixed;
    border: 2px solid black;
    margin-left: 21vw;
    margin-top: 10vw;
    z-index: 4;
    background-color: green;
    border-radius: 1vw;
    box-shadow: 4px 6px 27px 12px;
    opacity: 75%;
}

#third {
    width: 14vw;
    height: 14vw;
    position: fixed;
    border: 2px solid black;
    margin-left: 23vw;
    margin-top: 12vw;
    z-index: 3;
    background-color: green;
    border-radius: 1vw;
    box-shadow: 4px 6px 27px 12px;
    opacity: 50%;
}

#fourth {
    width: 14vw;
    height: 14vw;
    position: fixed;
    border: 2px solid black;
    margin-left: 25vw;
    margin-top: 14vw;
    z-index: 2;
    background-color: green;
    border-radius: 1vw;
    box-shadow: 4px 6px 27px 12px;
    opacity: 25%;
}

#fifth {
    width: 14vw;
    height: 14vw;
    position: fixed;
    border: 2px solid black;
    margin-left: 27vw;
    margin-top: 16vw;
    z-index: 1;
    background-color: green;
    border-radius: 1vw;
    box-shadow: 4px 6px 27px 12px;
    opacity: 10%;
}
