body {
    color: white;
    font-family: Calibri, serif;
    font-size: 13px;
}
tr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th {
    width: 120px;
    height: 20px;
    background-color: #27426d;
}

tr:nth-child(odd) {
    background-color: #4f8cef;
}

tr:nth-child(even) {
    background-color: #6facff;
}

table, th, td {
    border: 1px solid ;
    border-collapse: collapse;
}
