* {
    font-family: "Segoe UI", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 50px;
    background-color: #b22;
    color: #fff;
    text-align: center;
}
main {
    margin: 30px auto;
    width: 1200px;
}
label, fieldset, legend, input, textarea, select {
    margin: 5px;
    padding: 5px;
}
fieldset {
    border: 3px solid #b22;
}
legend {
    font-size: 20px;
    color: #b22;
    padding: 0 15px;
    font-weight: bold;
}
label, input, select {
    display: inline-block;
    width: 200px;
}
input#mailadres {
    width: 630px;
}
textarea {
    height: 150px;
    width: 840px;
}