a {
    text-decoration: underline;
    color: inherit;
}

#title {
    color: green;
}

p {
    background-color: #6a7689;
    padding: 20px;

}

.highlight {
    margin-left: 35%;
    margin-right: 35%;
    border: solid 2px yellow;
    text-align: center;
    color: yellow;
}

#border2 {
    border: 2px solid gray;
    background: gray;
}