body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    background: black;
    color: white;
}

.dflex {
    display: flex;
    width: 80%;
    margin: auto;
}

header h1 {
    text-align: center;
    font-size: 4rem;
}

img {
    width: 30%;
    margin: auto;
    display: flex;
}

h2 {
    text-align: center;
}

#section1 h2 {
    font-size: 3rem;
}

p {
    font-size: 28px;
    color: whitesmoke;
}

.marginauto {
    margin: auto;
}