/*When clicking nav buttons,
  this makes it scroll smoothly*/
html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #404040;
    z-index: 3;
}

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;

}
.nav-links {
    display: flex;
    width: 100%;
}

.nav-links a:hover {
    color: #cfeaff;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    margin-right: 3em ;
}
.nav-links li {
    list-style: none;
}
.burger {
    display: none;
}
.burger div{
    background-color: #b8b8b8;
    margin: 5em;
}

/* Position scrol to element when nav button clicked */
#profile {
    position: absolute;
    top: 5vw;
}

#edu {
    position: absolute;
    top: 50vw;
}
#contact {
    position: absolute;
    top: 144vw;
}

#personality {
    position: absolute;
    top: 95vw;
}

/* Pictures */
#banner-section{
    height: 58vh;
}
#imga {
    position: relative;
    top: 0; left: 0; z-index: -50;
    width: 100%;
    height: 100%;

}

.imgb {
    left: 43%;
    top: -23%;
    position: relative;
    width: 14%;
    z-index: 0;
    height: auto;

    border:  black 23px;
    border-radius: 180px;
}

/* hover over pic reveals shadow*/
.imgb:hover {
    box-shadow: 5px 5px 5px 5px black;
}
.imgb:active:hover {
    border: solid black 5px;
    box-shadow: none;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.container2 {
    display: flex;
    margin-top: 9em;
    margin-left: -1em;
    margin-right: -32em;
}

.container-item {
    margin-left: 23em;
}

.container-item2 {
    margin-top: -10em;
    margin-left: 30em;
}

.personalia {
    text-align: center;
    margin-top: 6em;
    font-size: 13px;
}

.personalia p {
    text-align: center;
    font-size: 16px;
    margin-top: 0em;
}

#gbnt {
    margin-left: 24em;
    margin-top: -9%;
}


.interests {
    font-size: 10px;
    margin-left: 1em;
}

.interests h1 {
    text-align: center;
    margin-left: 2em;
}

.interests p {
    margin-left: 2em;
    margin-top: -1em;
    text-align: center;
    font-size: 16px;
}

.eduworkbanner {
    height: 38vw;
    max-width: 100%;
    background-color: #8080802b;
    margin-top: 8vw;
}

.container3 {
    display: flex;
    justify-content: center;
    margin-top: -28em;
}

.container-item3 {
    margin-left: 3em;
}

.container-item4 {
    margin-top: -29em;
    margin-left: 16em;
}

.container4 {
    display: flex;
    justify-content: center;
    margin-top: 9em;
    margin-left: -2em;
}

.container4 img {
    display: flex;
    justify-content: center;
    /* max-width: max-content; */
    max-height: 489px;
    margin-left: 3em;
}

#aimg {
    width: 369px;
}


.education {
    text-align: center;
    width: 0em;
    height: 20em;
    min-width: 10em;
    font-size: 16px;
    background-color: #dceffe;
    box-shadow: 0px 1px 6px 6px;
}

.education hr {
    border: 4px solid black;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 0vw;
}


.education p {
    text-align: center;
    align-items: center;
    font-size: 16px;
}

.education h1 {
    margin: 0vw;
    background-color: #93b1c9;
}
.education h3 {
    font-size: 16px;
}

.workexp {
    text-align: center;
    font-size: 16px;
    height: 29em;
    margin-left: 8em;
    margin-top: 5em;
    max-width: 14em;
    max-height: 27em;
    /* width: 0em; */
    /* min-width: 30vh; */
    background-color: #dceffe;
    box-shadow: 0px 1px 6px 6px;

}

.workexp h1 {
    margin: 0em;
    background-color: #93b1c9;
}
.workexp hr {
    border: 4px solid black;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 0em;
}

.workexp p {
    text-align: center;
    align-items: center;
    font-size: 16px;
}




@media only screen and (max-width: 480px) {
.title h4 {
   display: none;
}



.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 9px;
    margin-left: -1em;
}

#banner-section {
    height: 14em;
}

.imgb {
    left: 36%;
    top: -33%;
    width: 29%;
}

.container {

}

.container2 {
    margin-top: 0em;
}

.container4 {
width: 1px;
height: 3000px;
}

.interests {
    margin-left: -15em;
    margin-right: -17em;
    margin-top: 16em;
}

.personalia {
    margin-top: 2em;
}

.container-item {

}

#gbnt {
    margin-left: 3em;

}
}