body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

th {
    background: #27426d;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: white;
}

tr:nth-child(odd) {
    background-color: #4f8cef;
}

tr:nth-child(even) {
    background-color: #6facff;
}

table {
   border-collapse: collapse;
}


